* {
    margin: 0;
}
.header {
    background-color: blue;
    height: 45px;
}
.logo {
    text-align: center;
}
.logo a {
    position: absolute;
    right: 0;
    margin-right: 5%;
    color: black;
}